* {
  box-sizing: border-box;
}

:root {
  --heading-font: "Sen", sans-serif;
  --primary-color: #FFB900; 
}

html {
  font-size: 62.5%;
}

/* khôi phục lại cỡ chữ mặc định theo rem */

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* -----------------------common------------------------ */
a {
  text-decoration: none;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0px 16px;
  line-height: 50px;
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
  font-weight: 600;
  border-radius: 999px;
  background-color: #27210f;
}

.btn:hover {
  opacity: 0.8;
}
/* ------------------------header----------------------- */
.header .body {
  background-color: #fffcf4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 36px 0 8px;
}

.header.fixed {
  z-index: 1;
  position: sticky;
  top: -28px;

}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav li.active a,
.nav a {
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
  position: relative;
}

.nav a:hover {
  color: #171100;
  font-weight: 600;
  text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
  position: absolute;
  left: 21px;
  bottom: 6px;
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background-color: #171100;
}

.header .btn-sign-up {
  min-width: 144px;
}

.header .action {
  margin-left: 49px;
}

/* ========================hero=============================== */
.hero {
  padding: 56px 0 65px;
  background-color: #fffcf4;
}

.hero .body {
  display: flex;
}


.hero .media-block {
  position: relative;
  width: 48%;
}

.hero .content-block {
  width: 52%;
}

.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 25px;
}

.hero .hero-summary {
  width: 270px;
  padding: 24px;
  position: absolute;
  bottom: 48px;
  right: 0;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
.hero-summary .item {
  display: flex;
  align-items: center;
}

.hero-summary .item + .item {
  margin-top: 22px;
}
.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fffcf4;
}

.hero-summary .icon2 {
  background-color: #fcefff;
}

.hero-summary .icon3 {
  background-color: #ebeaff;
}

.hero-summary .info {
  margin-left: 16px;
}

.hero-summary .label {
  font-size: 1.4rem;
  line-height: 1.86;
  color: #5f5b53;
}

.hero-summary .title {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
}

/* hero - right */
.hero .content-block {
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}

.hero .heading {
  font-family: var(--heading-font);
  font-size: 5.8rem;
  font-weight: 700;
  font-style: bold;
  line-height: 1.17;
  letter-spacing: -1.16px;
}

.hero .desc {
  margin-top: 22px;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #5F5B53;
}

.hero  .cta-group {
  margin-top: 38px;
  display: flex;
  align-items: center;
}

.hero-cta {
  min-width: 180px;
  background-color: var(--primary-color);
  font-size: 1.8rem;
  line-height: 64px;
}

.hero .watch-video {
  margin-left: 28px;
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.hero .watch-video .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.hero span {
  margin-left: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
}

.hero .desc-recent {
  margin-top: 48px;
}

.hero .stats strong {
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 1.23;
  font-style: bold;
  color: #171100;
  margin-right: 15px;
}

strong:nth-child(2){
  margin-left: 28px;
}
